.row{
    margin: 0;
    padding: 0;
}

.foto_avatar {
    width: 50px;
    height: 50px;
}

#alura_book {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)
    100%), url('img/portfolio/alura_book.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#ranger_flix {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)
    100%), url('img/portfolio/ranger_flix.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#mundo_invertido {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)
    100%), url('img/portfolio/mundo_invertido.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
a {
    text-decoration: none;
}

.texto_branco {
    color: white;
}

.ferramenta_portifolio {
    background-color: rgb(30, 137, 230);
    padding: 5px;
    border-radius: 8px;
    text-align: center;
}

.contato {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 50px;
}

.email {
    align-items: center;
}

#item_contato_e {
    color: #0364b8;
}

#item_contato_e:hover {
    background-color: #0364b8;
    color: rgb(250, 250, 250);
}

#item_contato_w {
    color: rgb(7, 141, 0);;
}

#item_contato_w:hover {
    background-color: rgb(7, 141, 0);
    color: rgb(250, 250, 250);
}

.lead {
    text-align: justify;
}

footer {
    display: flex;
}

#inst:hover {
    color: rgb(247, 13, 169)
}

#git:hover {
    color: blueviolet;
}